.list-item {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  border-top:none;
  color: $dark-grey;
  display:flex;
  flex-direction:column;
  padding:$s-size;
  text-decoration:none;
}

.list-item__title {
  word-break:break-all;
}
